// f7 mixins, called by component's less
@import (reference) '@wiajs/f7/less/mixins.less';
@import (reference) '@wiajs/f7/less/vars.less';

// f7.config set var
@includeIosTheme: false;
@includeMdTheme: false;
@includePcTheme: true;

@includeDarkTheme: false;
@includeLightTheme: true;

@themeColor: #007aff;

@colors: {
  red: #ff3b30;
};

@rtl: false;